.App {
  text-align: center;
    background: linear-gradient(black, mediumpurple);
}

.button1{
    background: linear-gradient(to right, mediumpurple, #612bd1);
    padding: 5px 0px 5px 0;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    margin: 5px;
    color: black;
    appearance: none;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button2{
  padding: 5px 0px 5px 0;
  width: 100px;
  text-align: center;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: mediumpurple;
  border: 2px solid mediumpurple;
}

.button2:hover{
  background-color: white;
  color: mediumpurple;
  border: 2px solid white;
  cursor: pointer;
}

.button1:hover{
  background: none;
  background-color: #612bd1;
  cursor: pointer;
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}