@import url('https://cdn.jsdelivr.net/npm/geist-font@latest/dist/fonts.css');


body {
  margin: 0;
    font-family: "Geist", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
